




<div class="jumbotron">
  <h1 class="display-4">Don't Be Shy</h1>
  <p class="lead">Your opportunity to ask your questions anonymously</p>
  <hr class="my-4">
  <p>Ask a question to a specific staff member, and they will answer when they can. <br>Take the opportunity to read your peers' questions</p>
  <p class="lead">
    <button class="btn btn-primary btn-lg"><%= link_to "ASK", new_post_path(), class: "link"%></button>
  </p>
</div>


