<h1>Question?</h1>

<%@posts.each  do |post|%>
    <u><%=post.title%></u><br>
    <%=post.content%><br>
    ---Answer---<br>
    <%post.solutions.each do |solution|%>
        <%=solution.content%><br>
        <%=solution.staff.name%>
        <%end%><br><br>
    <%end%>
