// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body {
    background-color:rgba(181, 245, 231, 0.932);
    margin: 10px;
    padding: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 10px;
    color: black
}

label {
    color: white;
}

select {
    color: black;
    background-color: white
}

button {
    background-color: rgba(220, 245, 239, 0.932);
    padding: 10px
}

.submit {
    background-color: rgba(181, 245, 231, 0.932)
}

.form-card {
    background-color: rgba(0, 0, 0, 0.5)

}